<div id="custom-modal-content" class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front drupal-dialog">
	{{ form }}
	</div>

	<a href="/custom-modal/edit/1" class="use-ajax">Edit Entry</a>
