.project-grid {
  display: flex;
}

.project-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-content {
  padding: 20px;
}

.project-content h3 {
  margin-top: 0;
}

.project-content p {
  margin-bottom: 0;
}
